<form method="GET" action="{{ url_for('search.advanced.index') }}"  class="form-horizontal search-form-advanced" role="form">
    <legend>Wyszukiwanie</legend>

    <div class="form-group">
        <label class="col-sm-1 control-label">
            <span class="ellipsis"><span>Wykonawca</span></span>
        </label>
        <div class="col-sm-5">
            <input type="text" name="artist" value="{{ form.artist }}" class="form-control" placeholder="Wykonawca">
        </div>
        <label class="col-sm-1 control-label">Tytuł</label>
        <div class="col-sm-5">
            <input type="text" name="title" value="{{ form.title }}" class="form-control" placeholder="Tytuł">
        </div>
    </div>

    <!-- wpiąć autocompleter -->
    <div class="form-group">
        <label class="col-sm-1 control-label">Gatunek</label>
        <div class="col-sm-5 col-md-3">
            <input type="text" name="genre" value="{{ form.genre }}" class="form-control" placeholder="np. House, Tech House">
        </div>
    </div>

    <!-- wpiąć autocompleter -->
    <div class="form-group">
        <label class="col-sm-1 control-label">Wydawca</label>
        <div class="col-sm-5 col-md-3">
            <input type="text" name="publisher" value="{{ form.publisher }}" class="form-control" placeholder="np. Suara, Rejected">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">Rok</label>
        <div class="col-sm-5 col-md-3">
            {% set year = "now"|date('Y') %}
            <input name="year" value="{{ form.year }}" class="form-control" placeholder="np. {{ year - 3 }} - {{ year }}">
        </div>
    </div>

    <!-- wpiąć x-editable i dodać opcje: perfect fourth, perfect fifth, itd -->
    <div class="form-group">
        <label class="col-sm-1 control-label">Tonacja</label>
        <div class="col-sm-5 col-md-3">
            <input type="text" name="initial_key" value="{{ form.initial_key }}" class="form-control" placeholder="np. 4A, 5A">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label" title="Liczba uderzeń na minutę">BPM</label>
        <div class="col-sm-5 col-md-3">
            <input type="text" name="bpm" value="{{ form.bpm }}" class="form-control" placeholder="np. => 125">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">Dodany</label>
        <div class="col-sm-5 col-md-3">
            {% set year = "now"|date('Y') %}
            <input name="indexed_date" value="{{ form.indexed_date }}" class="form-control" placeholder="np. >= {{ year - 3 }}">
        </div>
    </div>

    <footer>
        <button type="submit" name="submit" value="true" class="btn btn-default btn-lg pull-right">Wyszukaj</button>
    </footer>
</form>
