{% extends '@common/layout.twig' %}

{% block title 'Mix' %}
{% block page_header 'Uporządkuj mix' %}

{% block content %}
    {# <script src="https://cdn.jsdelivr.net/npm/autosize@5.0.2/dist/autosize.min.js"></script>#}
    {# @fixme: rozbić na trzy twigi #}
    <div class="row row-deck row-cards">
        <div class="col-12">
            <form method="POST" class="card">
                <div class="card-header card-header-light">
                    <h3 class="card-title">
                        Tracklista
                    </h3>
                </div>
                <div class="card-body">
                    <textarea class="form-control" data-bs-toggle="autosize" name="listing" class="w-100" style="min-height: 250px">{{ form.listing|default }}</textarea>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col">
                            {# <a href="#">Przełącz na edycję zbiorczą / Przełącz na wybór utworów</a> #}
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Uporządkuj</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% if mix %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Mix
                        </h3>
                    </div>
                    <div class="card-table table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    {# @fixme: Docelowo uzyć similarity/list.twig (o ile to możliwe) #}
                                    <th style="width: 43%">Nazwa utworu</th>
                                    <th style="width: 14%">Gatunek</th>
                                    <th style="width: 17%">Wydawca</th>
                                    <th style="width: 7%">Rok</th>
                                    <th style="width: 7%">Tonacja</th>
                                    <th style="width: 7%">BPM</th>
                                    <th style="width: 5%">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for track in mix %}
                                    <tr>
                                        <td style="width: 45%">
                                            <span class="ellipsis ast-track-name">
                                                <a href="{{ url_for('track.track.index', { guid: track.track.guid }) }}" title="{{ track.track.name }}">
                                                    {{ track.track.name }}
                                                </a>
                                            </span>
                                        </td>
                                        <td style="width: 15%" class="text-nowrap">
                                            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { genre: track.track.genre }) }}">
                                                {{ track.track.genre }}
                                            </a>
                                        </td>
                                        <td style="width: 19%" class="text-nowrap">
                                            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { publisher: track.track.publisher }) }}">
                                                {{ track.track.publisher }}
                                            </a>
                                        </td>
                                        <td style="width: 7%">
                                            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { year: track.track.year }) }}">
                                                {{ track.track.year }}
                                            </a>
                                        </td>
                                        <td style="width: 7%">
                                            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { initial_key: track.track.initialKey }) }}">
                                                {{ track.track.initialKey }}
                                            </a>
                                        </td>
                                        <td style="width: 7%">
                                            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { bpm: track.track.bpm }) }}">
                                                {{ track.track.bpm }}
                                            </a>
                                        </td>
                                        <td style="width: 5%">
                                            {%- if loop.index0 > 0 %} {{ track.similarityValue }}%{% else %}-{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Siatka podobieństwa
                        </h3>
                    </div>
                    <div class="card-table table-responsive">
                        <table class="table table-hover table-striped table-vcenter small">
                            <tr>
                                <td>&nbsp;</td>
                                {% for row in similarityGrid %}
                                    <td class="text-center" title="{{ row.track.name }}">
                                        <a href="{{ url_for('track.track.index', { guid: row.track.guid }) }}" class="text-reset" title="{{ row.track.name }}">
                                            {{ row.track.title }}
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>

                            {% set trackCellWidth = 40 %}
                            {% set similarityValueCellWidth = (100 - trackCellWidth) / similarityGrid|length %}
                            {% set similarityValueCellWidth = similarityValueCellWidth|round(2) %}

                            {% for row in similarityGrid %}
                                <tr>
                                    <td title="{{ row.track.name }}" style="width: {{ trackCellWidth }}%">
                                        {# todo: dodać ucinanie tekstu #}
                                        <a href="{{ url_for('track.track.index', { guid: row.track.guid }) }}" class="text-reset" title="{{ row.track.name }}">
                                            {{ row.track.title }}
                                        </a>
                                    </td>
                                    {% for track in row.tracks %}
                                        <td class="text-center" style="width: {{ similarityValueCellWidth }}%; min-width: 8.5%" {% if track.similarityValue is empty %}style=""{% endif %}>
                                            {% if track.similarityValue is not null %}
                                                {{ track.similarityValue }}%
                                            {% else %}
                                                <span class="text-muted small">-</span>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
