{% extends '@common/layout.twig' %}

{% block title %}Przeglądanie oczekujących {% if pathname %}– {{ pathname }}{% endif %}{% endblock %}

{% block contentBlock %}
    <script src="/js/incoming.js" type="text/javascript"></script>
    <div class="directory-info" data-role="element" data-element-pathname="{{ pathname }}">
        <div class="pull-right" style="display: inline-block">
            <button type="button" class="btn btn-sm btn-default"
                data-role="incoming-tracks:calculate-audio-data" title="Oblicz BPM i tonację">
                <i class="fa fa-calculator"></i>
            </button>
            <button type="button" class="btn btn-sm btn-default disabled">
                <i class="fa fa-folder-open"></i>
            </button>
        </div>
        <ol class="breadcrumb" style="padding-bottom: 8px">
            <li><a href="{{ urlFor('directory.browse.incoming') }}" class="undecorated"><i class="fa fa-home fa-lg fa-fw"></i></a></li>
            {% for path in pathBreadcrumbs %}
                <li><a href="{{ urlFor('directory.browse.incoming', { pathname: path.pathname } )}}" class="undecorated">{{ path.displayName }}</a></li>
            {% endfor %}
        </ol>
    </div>

    {% if childrens.directories %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                         <a href="">Nazwa katalogu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for child in childrens.directories if (child.directory.parent or child.directory.guid) %}
                    <tr data-role="element" data-element-pathname="{{ child.node.relativePathname }}" data-element-target-pathname="{{ child.targetPath }}">
                        <td class="col-xs-10">
                            {% if child.directory == absolutePathname %}
                                <a href="{{ urlFor('directory.browse.incoming', { pathname: child.directory.parent } )}}"><i class="fa fa-level-up"></i> </a>
                            {% else %}
                                <a href="{{ urlFor('directory.browse.incoming', { pathname: child.directory.pathname } )}}">{{ child.directory.name }}</a>
                            {% endif %}
                        </td>
                        <td class="col-xs-2 text-right">
                            <button type="button" class="btn btn-sm btn-default"
                                data-role="incoming-tracks:calculate-audio-data" title="Oblicz BPM i tonację">
                                <i class="fa fa-calculator"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-default"
                                data-role="incoming-tracks:move" title="Przenieś do {{ child.targetPath }}">
                                <i class="fa fa-folder-open"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if childrens.tracks %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="">Nazwa utworu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">Tonacja <i class="fa fa-caret-{% if sort.initial_key == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">BPM <i class="fa fa-caret-{% if sort.bpm == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in childrens.tracks %}
                        <tr data-role="element" data-element-pathname="{{ track.node.relativePathname }}" data-element-target-pathname="{{ track.targetPath }}">
                            <td class="col-xs-8">
                                <a class="undecorated" href="{{ urlFor('track.edit.edit', { pathname: track.node.relativePathname|url_encode } )}}">
                                    {{ track.node.basename }}
                                </a>
                            </td>
                            <td class="col-xs-1">
                                {{ track.track.initial_key }}
                            </td>
                            <td class="col-xs-1">
                                {{ track.track.bpm }}
                            </td>
                            <td class="col-xs-2 text-right">
                                <button type="button" class="btn btn-sm btn-default"
                                    data-role="incoming-tracks:calculate-audio-data" title="Oblicz BPM i tonację">
                                    <i class="fa fa-calculator"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-default"
                                    data-role="incoming-tracks:move" title="Przenieś do {{ track.targetPath }}">
                                    <i class="fa fa-folder-open"></i>
                                </button>
                                <a
                                    type="button"
                                    class="btn btn-sm btn-default"
                                    title="Edytuj metadane"
                                    href="{{ urlFor('track.edit.edit', { pathname: track.node.relativePathname|url_encode } )}}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
