{% extends '@common/layout.twig' %}

{% block title %}{{ directory.pathname|default('Przeglądaj') }}{% endblock %}

{% block contentBlock %}
    <div class="directory-info">
        <ol class="breadcrumb">
            <li><a href="{{ urlFor('directory.browse.index') }}" class="undecorated"><i class="fa fa-home fa-lg fa-fw"></i></a></li>
            {% for path in pathBreadcrumbs %}
                <li><a href="{{ urlFor('directory.browse.index', { guid: path.guid } )}}" class="undecorated">{{ path.path }}</a></li>
            {% endfor %}
        </ol>
    </div>

    {% if childrens.directories %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                         <a href="">Nazwa katalogu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for child in childrens.directories if (child.parent or child.guid) %}
                    <tr>
                        <td>
                            {% if child == directory %}
                                <a href="{{ urlFor('directory.browse.index', { guid: child.parent } )}}"><i class="fa fa-level-up"></i> </a>
                            {% else %}
                                <a href="{{ urlFor('directory.browse.index', { guid: child.guid } )}}">{{ child.name }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if childrens.tracks %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="">Nazwa utworu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>
                        <a href="">Gatunek <i class="fa fa-caret-{% if sort.genre == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>
                        <a href="">Długość<i class="fa fa-caret-{% if sort.genre == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>
                        <a href="">Rok <i class="fa fa-caret-{% if sort.year == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>
                        <a href="">Klucz <i class="fa fa-caret-{% if sort.initial_key == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                    <th>
                        <a href="">BPM <i class="fa fa-caret-{% if sort.bpm == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for track in childrens.tracks %}
                    <tr>
                        <td class="col-md-6">
                            {% set name = track.artist ~ ' - ' ~ track.title %}
                            <a href="{{ urlFor('track.track.index', { guid: track.guid } )}}" title="{{ name }}">{{ name|truncateText(70) }}</a>
                        </td>
                        <td class="col-md-2">
                            <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?genre={{ track.genre }}">{{ track.genre }}</a>
                        </td>
                        <td class="col-md-1">
                            {{ track.length|formatSeconds }}
                        </td>
                        <td class="col-md-1">
                            <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?year={{ track.year }}">{{ track.year }}</a>
                        </td>
                        <td class="col-md-1">
                            <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?initial_key={{ track.initial_key }}">{{ track.initial_key }}</a>
                        </td>
                        <td class="col-md-1">
                            <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?bpm={{ track.bpm }}">{{ track.bpm }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}