{% extends '@common/layout.twig' %}

{% set currentDirectoryWithoutSeparator = currentDirectory.pathname|trim(constant('DIRECTORY_SEPARATOR')) %}

{% block title %}Przeglądanie kolekcji {% if currentDirectoryWithoutSeparator %}– {{ currentDirectoryWithoutSeparator }}{% endif %}{% endblock %}

{% block contentBlock %}
    <div class="directory-info">
        <!-- @todo: wynieść do zewnętrznego szablonu i uspójnić z innymi -->
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('directory.browse.index', { guid: (pathBreadcrumbs|first).guid }) }}" class="undecorated">
                    <i class="fa fa-home fa-lg fa-fw"></i>
                </a>
            </li>
            {% for path in pathBreadcrumbs[1:] %}
                <li><a href="{{ url_for('directory.browse.index', { guid: path.guid }) }}" class="undecorated">{{ path.path }}</a></li>
            {% endfor %}
        </ol>
    </div>

    {% if directories %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                         <a href="">Nazwa katalogu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for directory in directories %}
                    <tr>
                        <td>
                            <a href="{{ url_for('directory.browse.index', { guid: directory.guid }) }}">{{ directory.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if tracks %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="">Nazwa utworu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">Gatunek <i class="fa fa-caret-{% if sort.genre == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">Długość<i class="fa fa-caret-{% if sort.length == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">Rok <i class="fa fa-caret-{% if sort.year == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">Tonacja <i class="fa fa-caret-{% if sort.initial_key == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                        <th>
                            <a href="">BPM <i class="fa fa-caret-{% if sort.bpm == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td class="col-xs-6">
                                <span class="ellipsis track-name">
                                    <a href="{{ url_for('track.track.index', { guid: track.guid }) }}" title="{{ track.name }}">{{ track.name }}</a>
                                </span>
                            </td>
                            <td class="col-xs-2">
                                <a class="undecorated" href="{{ url_for('search.advanced.index') }}?genre={{ track.genre }}">{{ track.genre }}</a>
                            </td>
                            <td class="col-xs-1">
                                {{ track.length|format_duration }}
                            </td>
                            <td class="col-xs-1">
                                <a class="undecorated" href="{{ url_for('search.advanced.index') }}?year={{ track.year }}">{{ track.year }}</a>
                            </td>
                            <td class="col-xs-1">
                                <a class="undecorated" href="{{ url_for('search.advanced.index') }}?initial_key={{ track.initialKey }}">{{ track.initialKey }}</a>
                            </td>
                            <td class="col-xs-1">
                                <a class="undecorated" href="{{ url_for('search.advanced.index') }}?bpm={{ track.bpm }}">{{ track.bpm }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
