{% extends '@common/layout.twig' %}

{% block title %}Ostatnio dodane{% endblock %}

{% block contentBlock %}
    {% for month in recent %}
        <div class="directory-info">
            <ol class="breadcrumb">
                <li>{{ month.name }}</li>
            </ol>
        </div>

        {% if month.tracks %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a href="">Nazwa utworu<i class="fa fa-caret-{% if sort.title == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">Gatunek <i class="fa fa-caret-{% if sort.genre == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">Długość<i class="fa fa-caret-{% if sort.genre == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">Rok <i class="fa fa-caret-{% if sort.year == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">Tonacja <i class="fa fa-caret-{% if sort.initial_key == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">BPM <i class="fa fa-caret-{% if sort.bpm == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                            <th>
                                <a href="">Dodany <i class="fa fa-caret-{% if sort.indexed == -1 %}down{% else %}up{% endif %} pull-right"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in month.tracks %}
                            <tr>
                                <td class="col-xs-5">
                                    <span class="ellipsis track-name">
                                        {% set name = track.artist ~ ' - ' ~ track.title %}
                                        <a href="{{ urlFor('track.track.index', { guid: track.guid } )}}" title="{{ name }}">{{ name }}</a>
                                    </span>
                                </td>
                                <td class="col-xs-2">
                                    <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?genre={{ track.genre }}">{{ track.genre }}</a>
                                </td>
                                <td class="col-xs-1">
                                    {{ track.length|format_duration }}
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?year={{ track.year }}">{{ track.year }}</a>
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?initial_key={{ track.initial_key }}">{{ track.initial_key }}</a>
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ urlFor('search.advanced.index') }}?bpm={{ track.bpm }}">{{ track.bpm }}</a>
                                </td>
                                <td class="col-xs-1 ellipsis">
                                    {% set timeAgo = track.indexed_date.toDateTime|time_ago %}
                                    <span class="time-ago" title="{{ timeAgo }}">{{ timeAgo }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
