{% extends '@common/layout.twig' %}

{% block title -%}
    {% if result.count is defined %}Wyniki wyszukiwania{% else %}Wyszukiwanie{% endif %}
{%- endblock %}

{% block contentBlock %}
    {% block searchForm %}
    {% endblock %}

    {% if isFormSubmitted %}
        <div class="search-result">
            <legend>Wyniki</legend>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nazwa utworu</th>
                            <th>Gatunek</th>
                            <th>Długość</th>
                            <th>Rok</th>
                            <th>Tonacja</th>
                            <th>BPM</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in tracks %}
                            <tr>
                                <td class="col-xs-6">
                                    <span class="ellipsis track-name">
                                        <a href="{{ url_for('track.track.index', { guid: track.guid }) }}" title="{{ track.name }}">{{ track.name }}</a>
                                    </span>
                                </td>
                                <td class="col-xs-2">
                                    <a class="undecorated" href="{{ url_for('search.advanced.index') }}?genre={{ track.genre }}">{{ track.genre }}</a>
                                </td>
                                <td class="col-xs-1">
                                    {{ track.length|format_duration }}
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ url_for('search.advanced.index') }}?year={{ track.year }}">{{ track.year }}</a>
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ url_for('search.advanced.index') }}?initial_key={{ track.initialKey }}">{{ track.initialKey }}</a>
                                </td>
                                <td class="col-xs-1">
                                    <a class="undecorated" href="{{ url_for('search.advanced.index') }}?bpm={{ track.bpm }}">{{ track.bpm }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include '@common/paginator.twig' with {
            paginator: paginator,
            routeName: routeName,
            routeQuery: form,
        } only %}
    {% elseif isFormSubmitted and paginator.getNbResults() == 0 %}
        <p class="lead text-center text-muted">Nie znaleziono utworów spełniających podane kryteria</p>
    {% endif %}
{% endblock %}
