<form
    action="{{ actionUrl }}"
    class="ast-similar-tracks-parameters"
    data-role="similar-tracks:parameters"
    method="get"
    name="{{ 'now'|date('U') }}" {# https://stackoverflow.com/a/44504822 #}
>
    <div class="row">
        {% for similarityParameter in form.similarityParameters %}
            {% set isProviderEnabled = form.isProviderEnabled(similarityParameter.name) %}

            <div class="col-12 col-sm-2 mb-2 mb-md-0" data-role="similar-tracks:parameter">
                <label class="form-label d-inline-block d-md-block" for="parameter-{{ similarityParameter.name }}">
                    <input
                        type="checkbox"
                        name="{{ constant('NAME_PROVIDERS', form) }}[]"
                        value="{{ similarityParameter.name }}"
                        id="parameter-{{ similarityParameter.name }}"
                        {% if isProviderEnabled %} checked="checked" {% endif %}
                    > {{ similarityParameter.displayName }}
                </label>
                {% if similarityParameter.hasInput %}
                    <input
                        data-role="similar-tracks:parameter-input"
                        type="{{ similarityParameter.inputType }}"
                        name="{{ similarityParameter.name }}"
                        value="{{ similarityParameter.inputValue }}"
                        class="form-control d-inline-block d-md-block w-md-100 {% if not isProviderEnabled %} d-none {% endif %}"
                        {% if similarityParameter.placeholder %} placeholder="{{ similarityParameter.placeholder }}" {% endif %}
                        {% if similarityParameter.inputMinValue %} min="{{ similarityParameter.inputMinValue }}" {% endif %}
                        {% if similarityParameter.inputMaxValue %} max="{{ similarityParameter.inputMaxValue }}" {% endif %}
                        {% if similarityParameter.inputStep %} step="{{ similarityParameter.inputStep }}" {% endif %}
                    >
                {% endif %}
            </div>
        {% endfor %}
    </div>
</form>
