<div class="card">
    <div class="card-header card-header-light d-inline-block">
        <a href="{{ url_for('search.advanced.index', query_params = { initial_key: key }) }}" class="text-reset">
            {{- title -}}
        </a> - informacje
    </div>
    <div class="card-body">
        <dl class="row">
            {% for similarKey in similarKeys %}
                <dt
                    class="col-7 text-right key-info-key {% if similarKey.description %} cursor-help {% endif %}"
                    {% if similarKey.description %}
                        data-bs-toggle="popover"
                        data-bs-placement="left"
                        data-bs-trigger="hover"
                        data-bs-html="true"
                        data-bs-content="{{ similarKey.description }}"
                    {% endif %}
                >
                    <span class="ellipsis">{{ similarKey.title }}</span>
                </dt>
                <dd class="col-5 key-info-value">
                    <a href="{{ url_for('search.advanced.index', query_params = { initial_key: similarKey.value }) }}" class="text-reset">
                        {{ similarKey.value }}
                    </a>
                </dd>
            {% endfor %}
        </dl>
    </div>
</div>
