<dl class="ass-track-info row">
    <dt class="col-4 col-sm-2">Gatunek</dt>
    <dd class="col-8 col-sm-10">
        <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { genre: track.genre }) }}">
            {{ track.genre }}
        </a>
    </dd>

    <dt class="col-4 col-sm-2">Album</dt>
    <dd class="col-8 col-sm-10">{{ track.album }}</dd>

    <dt class="col-4 col-sm-2">Wydawca</dt>
    <dd class="col-8 col-sm-10">
        {% if track.publisher %}
            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { publisher: track.publisher }) }}">
                {{ track.publisher }}
            </a>
        {% endif %}
    </dd>

    <dt class="col-4 col-sm-2">Rok</dt>
    <dd class="col-8 col-sm-10">
        {% if track.year %}
            <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { year: track.year }) }}">
                {{ track.year }}
            </a>
        {% endif %}
    </dd>

    <dt class="col-4 col-sm-2">Ścieżka</dt>
    <dd class="col-8 col-sm-10">{{ track.trackNumber }}</dd>

    <dt class="col-4 col-sm-2">Czas trwania</dt>
    <dd class="col-8 col-sm-10">{{ track.length|format_duration }}</dd>

    <dt class="col-4 col-sm-2">Tonacja</dt>
    <dd class="col-8 col-sm-10">
        <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { initial_key: track.initialKey }) }}">
            {{ track.initialKey }}
        </a>
    </dd>

    <dt class="col-4 col-sm-2">BPM</dt>
    <dd class="col-8 col-sm-10">
        <a class="text-reset" href="{{ url_for('search.advanced.index', query_params = { bpm: track.bpm }) }}">
            {{ track.bpm }}
        </a>
    </dd>

    <dt class="col-4 col-sm-2">Położenie</dt>
    <dd class="col-8 col-sm-10">
        {% include '@common/breadcrumbs.twig' with { breadcrumbs: breadcrumbs } only %}
    </dd>
</dl>
