{% set titleClasses = [ 'col-xs-4', 'col-sm-3', 'col-md-2', 'text-right' ]|join(' ') %}
{% set descriptionClasses = [ 'col-xs-8', 'col-sm-9', 'col-md-10' ]|join(' ') %}

{% set trackSearchUrl = url_for('search.advanced.index') %}

<div class="col-xs-12 {{ extraClasses|join(' ') }}">
    <div class="row">
        <span class="{{ titleClasses }}">
            <strong>{% if track.artists|length == 1 %}Wykonawca{% else %}Wykonawcy{% endif %}</strong>
        </span>
        <span class="{{ descriptionClasses }}">
            {%- for artist in track.artists -%}
                <a href="{{ trackSearchUrl }}?artist={{ artist|url_encode() }}" class="undecorated">{{ artist }}</a>
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Tytuł utworu</strong></span>
        <span class="{{ descriptionClasses }}">{{ track.title }}</span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Gatunek</strong></span>
        <span class="{{ descriptionClasses }}">
            <a href="{{ trackSearchUrl }}?genre={{ track.genre }}" class="undecorated">{{ track.genre }}</a>
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Album</strong></span>
        <span class="{{ descriptionClasses }}">{{ track.album }}</span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Wydawca</strong></span>
        <span class="{{ descriptionClasses }}">
            <a href="{{ trackSearchUrl }}?publisher={{ track.publisher }}" class="undecorated">{{ track.publisher }}</a>
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Czas trwania</strong></span>
        <span class="{{ descriptionClasses }}">{{ track.length|format_duration }}</span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Ścieżka</strong></span>
        <span class="{{ descriptionClasses }}">{{ track.trackNumber }}</span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Rok</strong></span>
        <span class="{{ descriptionClasses }}">
            <a href="{{ trackSearchUrl }}?year={{ track.year }}" class="undecorated">{{ track.year }}</a>
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>BPM</strong></span>
        <span class="{{ descriptionClasses }}">
            <a href="{{ trackSearchUrl }}?bpm={{ track.bpm }}" class="undecorated">{{ track.bpm }}</a>
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Tonacja</strong></span>
        <span class="{{ descriptionClasses }}">
            <a href="{{ trackSearchUrl }}?initial_key={{ track.initialKey }}" class="undecorated">{{ track.initialKey }}</a>
        </span>
    </div>

    <div class="row">
        <span class="{{ titleClasses }}"><strong>Położenie</strong></span>
        <span class="{{ descriptionClasses }}">
            <!-- @todo: wynieść do zewnętrznego szablonu i uspójnić z innymi -->
            <ol class="breadcrumb">
               <li>
                   <a href="{{ url_for('directory.browse.index', { guid: (pathBreadcrumbs|first).guid }) }}" class="undecorated">
                       <i class="fa fa-home fa-lg"></i>
                   </a>
               </li>
               {% for path in pathBreadcrumbs[1:] %}
                   <li><a href="{{ url_for('directory.browse.index', { guid: path.guid }) }}" class="undecorated">{{ path.path }}</a></li>
               {% endfor %}
            </ol>
        </span>
    </div>
</div>
